body {
  /* By default, the body has a margin around it.  Let's reset that to 0 to start with. */
  margin: 0;
}

/* Only modify the styles within the following CSS Rules */

.box-one {
  background-color: lightblue;
  height: 100px;
  text-align: center;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;  
}

.box-two {
  background-color: lightcyan;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 100px;
}

.box-three {
  background-color: rgb(32, 178, 170);
  width: 500px;
  height: 20vh;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: top;
  padding-right: 10px;
}

.box-four {
  background-color: #90ee90;
  width: 25%;
  height: auto;
  margin: 20px auto;
  border: 5px solid greenyellow;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;

}

.box-five {
  width: 150px;
  margin: 0 auto;
  border: 5px dotted #008000;
  text-align: left;
  padding: 20px 20px 60px 20px;
  box-sizing: border-box;
  overflow: auto;
}

.box-six {
  width: 100px;
  margin: -50px auto 0;
  border: 5px dashed lime;
  text-align: left;
  padding: 5px;
  box-sizing: border-box; 

}